<h1>Demo IdentityServer API</h1>

<div>
    <h2>using TypedClient with AuthenticateDelegatingHandler</h2>
    <span data-load="@Url.Content("~/DemoIdentityServer/UseTypedClient")">Loading...</span>
</div>
