<h1>Request ClientCredentials</h1>

<div>
    <h2>using HttpClient</h2>
    <span data-load="@Url.Content("~/Home/UseNativeHttpClient")">Loading...</span>
</div>

<div>
    <h2>using HttpClientFactory</h2>
    <span data-load="@Url.Content("~/Home/UseHttpClientFactory")">Loading...</span>
</div>

<div>
    <h2>using HttpClientFactory with name</h2>
    <span data-load="@Url.Content("~/Home/UseHttpClientFactoryWithName")">Loading...</span>
</div>

<div>
    <h2>using TypedClient</h2>
    <span data-load="@Url.Content("~/Home/UseTypedClient")">Loading...</span>
</div>
